.deco-actions {
    background-color: #FFF;
    border: 1px solid #2E8B57;
    margin-top: 2em;
    p {
      margin-top:1em;
      margin-left: 1em;
    }
  
    .background-title1 {
        background-color: #2E8B57;
        color: #fff;
        text-align: center;
        height: 4em;
        margin-top: -20px;
        h2 {
            line-height: 2em;
        }
    }
}

.deco-activites {
    background-color: #FFF;
    border: 1px solid #FF7070;
    margin-top: 2em;
    p{
      margin-top: 1em;
      margin-left: 1em;
    }
    .background-title {
        background-color: #FF7070;
        color: #fff;
        text-align: center;
        height: 4em;
        margin-top: -20px;
        h2 {
            line-height: 2em;
        }
    }
}
