header {
	/* background: url('../img/background.png') center center; */
	margin-bottom: 2em;
}

.menu-principal {
	list-style-type: none;
	text-align: center;
	background-color: #777;
	li {
		display: inline-block;
		margin: 0 1em;
	}
	a {
		font-family: "Poiret One";
		font-size: 1.5em;
		font-weight: bold;
		color: #000;
	}
	a:hover {
		text-decoration: none;
	}
}